@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

.outlined-text {
  -webkit-text-stroke: 3px black;
  color: transparent;
}